server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: boutique-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/**

            - id: ai-service
              uri: http://localhost:8000
              predicates:
                - Path=/ia/**

jwt:
  secret: "%<Ag|5%fylZQoKK>cLS2tz{G26i.HT3W8m4-_TraiUD"